# Dependencies
node_modules/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# Runtime data
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?